In [121]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
sns.set_style('darkgrid')

In [122]:
ross_df = pd.read_csv('./datasets/train.csv', low_memory=False)
store_df = pd.read_csv('./datasets/store.csv')
test_df = pd.read_csv('./datasets/test.csv')
submission_df = pd.read_csv('./datasets/sample_submission.csv')

In [123]:
ross_df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [124]:
test_df

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
0,1,1,4,2015-09-17,1.0,1,0,0
1,2,3,4,2015-09-17,1.0,1,0,0
2,3,7,4,2015-09-17,1.0,1,0,0
3,4,8,4,2015-09-17,1.0,1,0,0
4,5,9,4,2015-09-17,1.0,1,0,0
...,...,...,...,...,...,...,...,...
41083,41084,1111,6,2015-08-01,1.0,0,0,0
41084,41085,1112,6,2015-08-01,1.0,0,0,0
41085,41086,1113,6,2015-08-01,1.0,0,0,0
41086,41087,1114,6,2015-08-01,1.0,0,0,0
41087,41088,1115,6,2015-08-01,1.0,0,0,1

In [125]:
store_df

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [126]:
submission_df

          Id  Sales
0          1      0
1          2      0
2          3      0
3          4      0
4          5      0
...      ...    ...
41083  41084      0
41084  41085      0
41085  41086      0
41086  41087      0
41087  41088      0

[41088 rows x 2 columns]

In [127]:
merged_df = ross_df.merge(store_df, how='left', on='Store')
merged_test_df = test_df.merge(store_df, how='left', on='Store')

In [128]:
merged_df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1017205,1112,2,2013-01-01,0,0,0,0,a,1,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1017206,1113,2,2013-01-01,0,0,0,0,a,1,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1017207,1114,2,2013-01-01,0,0,0,0,a,1,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1017208,1115,2,2013-01-01,0,0,0,0,a,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [129]:
# Working with dates
def modify_dates(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Year'] = df['Date'].dt.year
    df['Month'] = df['Date'].dt.month
    df['Day'] = df['Date'].dt.day
    df['WeekOfYear'] = df['Date'].dt.isocalendar().week

In [130]:
modify_dates(merged_df)
modify_dates(merged_test_df)

In [131]:
merged_df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day,WeekOfYear
0,1,5,2015-07-31,5263,555,1,1,0,1,c,...,9.0,2008.0,0,NaN,NaN,NaN,2015,7,31,31
1,2,5,2015-07-31,6064,625,1,1,0,1,a,...,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2015,7,31,31
2,3,5,2015-07-31,8314,821,1,1,0,1,a,...,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2015,7,31,31
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,...,9.0,2009.0,0,NaN,NaN,NaN,2015,7,31,31
4,5,5,2015-07-31,4822,559,1,1,0,1,a,...,4.0,2015.0,0,NaN,NaN,NaN,2015,7,31,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1,a,...,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct",2013,1,1,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1,c,...,4.0,2006.0,0,NaN,NaN,NaN,2013,1,1,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1,a,...,NaN,NaN,0,NaN,NaN,NaN,2013,1,1,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1,a,...,NaN,NaN,0,NaN,NaN,NaN,2013,1,1,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1,d,...,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013,1,1,1

We notice that the sales of the stores is 0 if the store is closed.
So we need to remove the rows when the store is closed

In [132]:
# Store open/closed status
merged_df[merged_df['Open']==0]['Sales'].value_counts()

Sales
0    172817
Name: count, dtype: int64

In [133]:
# Removing the stores that are closed
merged_df = merged_df[merged_df['Open']!=0]

### Calculating Competition

Since the competition info is divided into years and months, it is better to calculate the total competition in months and also impute the neccessary data

In [134]:
# Find information about the Competition
def compete_months(df):
    df['CompetitionOpen'] = 12 * (df['Year']-df['CompetitionOpenSinceYear']) + (df['Month']-df['CompetitionOpenSinceMonth'])

    # Imputing negative values and missing values with 0
    df['CompetitionOpen'] = df['CompetitionOpen'].apply(lambda x: x if x>=0 else 0).fillna(0)

In [135]:
compete_months(merged_df)
compete_months(merged_test_df)

merged_df[['Date', 'CompetitionDistance', 'CompetitionOpenSinceYear', 'CompetitionOpenSinceMonth', 'CompetitionOpen']].sample(20)

C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\4002892834.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CompetitionOpen'] = 12 * (df['Year']-df['CompetitionOpenSinceYear']) + (df['Month']-df['CompetitionOpenSinceMonth'])
C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\4002892834.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CompetitionOpen'] = df['CompetitionOpen'].apply(lambda x: x if x>=0 else 0).fillna(0)

,Date,CompetitionDistance,CompetitionOpenSinceYear,CompetitionOpenSinceMonth,CompetitionOpen
60154,2015-06-08,3430.0,NaN,NaN,0.0
623433,2013-12-20,5460.0,NaN,NaN,0.0
497063,2014-04-12,3910.0,2006.0,11.0,89.0
896514,2013-04-19,1070.0,2009.0,9.0,43.0
360076,2014-08-21,4040.0,2008.0,8.0,72.0
780831,2013-07-31,570.0,2007.0,11.0,68.0
88196,2015-05-13,1630.0,2009.0,9.0,68.0
665378,2013-11-12,4740.0,2008.0,7.0,64.0
522635,2014-03-20,2320.0,NaN,NaN,0.0
772281,2013-08-08,4880.0,2010.0,8.0,36.0
74573,2015-05-26,440.0,NaN,NaN,0.0
789736,2013-07-24,850.0,2012.0,11.0,8.0
64728,2015-06-03,2840.0,2007.0,6.0,96.0
104493,2015-04-29,2700.0,NaN,NaN,0.0
796790,2013-07-17,5290.0,2012.0,11.0,8.0
86482,2015-05-15,2180.0,NaN,NaN,0.0
64986,2015-06-03,3140.0,2013.0,7.0,23.0
198763,2015-02-03,3150.0,2005.0,5.0,117.0
773030,2013-08-07,310.0,2013.0,12.0,0.0
953674,2013-02-26,2340.0,2009.0,5.0,45.0

### Deciphering Promo2 details

The promo2 details are also specified in years and weeks. Also promo2 is open only on **specific intervals/months of the year**.
The promo2 details need to be clearly separated out for the model to predict correctly

In [136]:
merged_df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,Day,WeekOfYear,CompetitionOpen
0,1,5,2015-07-31,5263,555,1,1,0,1,c,...,2008.0,0,NaN,NaN,NaN,2015,7,31,31,82.0
1,2,5,2015-07-31,6064,625,1,1,0,1,a,...,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",2015,7,31,31,92.0
2,3,5,2015-07-31,8314,821,1,1,0,1,a,...,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",2015,7,31,31,103.0
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,...,2009.0,0,NaN,NaN,NaN,2015,7,31,31,70.0
4,5,5,2015-07-31,4822,559,1,1,0,1,a,...,2015.0,0,NaN,NaN,NaN,2015,7,31,31,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1016776,682,2,2013-01-01,3375,566,1,0,a,1,b,...,2006.0,0,NaN,NaN,NaN,2013,1,1,1,76.0
1016827,733,2,2013-01-01,10765,2377,1,0,a,1,b,...,1999.0,0,NaN,NaN,NaN,2013,1,1,1,159.0
1016863,769,2,2013-01-01,5035,1248,1,0,a,1,b,...,NaN,1,48.0,2012.0,"Jan,Apr,Jul,Oct",2013,1,1,1,0.0
1017042,948,2,2013-01-01,4491,1039,1,0,a,1,b,...,NaN,0,NaN,NaN,NaN,2013,1,1,1,0.0
1017190,1097,2,2013-01-01,5961,1405,1,0,a,1,b,...,2002.0,0,NaN,NaN,NaN,2013,1,1,1,130.0

In [137]:
def check_promo_month(row):
    month_dict = {
    1: 'Jan', 
    2: 'Feb', 
    3: 'Mar', 
    4: 'Apr', 
    5: 'May', 
    6: 'Jun', 
    7: 'Jul', 
    8: 'Aug', 
    9: 'Sep', 
    10: 'Oct', 
    11: 'Nov', 
    12: 'Dec'
}
    try:
        months = (row['PromoInterval'] or '').split(',')
        if row['Promo2Open'] and month_dict[row['Month']] in months:
            return 1
        else:
            return 0
    except Exception as e:
        return 0
    
def promo2_cols(df):
    # Months since Promo2 was open
    df['Promo2Open'] = 12*(df['Year']-df['Promo2SinceYear']) + (df['WeekOfYear']-df['Promo2SinceWeek'])*7/30.5
    df['Promo2Open'].fillna(0, inplace=True)
    df['Promo2Open'] = df['Promo2Open'].apply(lambda x: x if x>=0 else 0)*df['Promo2']

    # Check if the promo2 is running for the current month
    df['IsPromo2Month'] = df.apply(lambda row: check_promo_month(row), axis=1)*df['Promo2']

In [138]:
promo2_cols(merged_df)
promo2_cols(merged_test_df)

C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\1355774554.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Promo2Open'] = 12*(df['Year']-df['Promo2SinceYear']) + (df['WeekOfYear']-df['Promo2SinceWeek'])*7/30.5
C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\1355774554.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Promo2Open'].fillna(0, inplace=True)
C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\1355774554.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Promo2Open'] = df['Promo2Open'].apply(lambda x: x if x>=0 else 0)*df['Promo2']
C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\1355774554.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['IsPromo2Month'] = df.apply(lambda row: check_promo_month(row), axis=1)*df['Promo2']

## Deciding the Input ans Target columns

In [139]:
merged_df.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval', 'Year', 'Month', 'Day',
       'WeekOfYear', 'CompetitionOpen', 'Promo2Open', 'IsPromo2Month'],
      dtype='object')

In [140]:
input_cols = ['Store', 'DayOfWeek', 'Promo', 'SchoolHoliday', 'StateHoliday', 'StoreType', 'Assortment', 'CompetitionDistance', 'CompetitionOpen', 'Promo2', 'Day', 'Month', 'Year', 'WeekOfYear', 'Promo2Open', 'IsPromo2Month']
target_cols = 'Sales'

In [141]:
inputs = merged_df[input_cols]
targets = merged_df[target_cols]

In [142]:
test_inputs = merged_test_df[input_cols]

In [143]:
num_cols = ['Store', 'Promo', 'SchoolHoliday', 'CompetitionDistance', 'CompetitionOpen', 'Promo2', 'Promo2Open', 'IsPromo2Month', 'Day', 'Month', 'Year', 'WeekOfYear']
cat_cols = ['DayOfWeek', 'StateHoliday', 'StoreType', 'Assortment']

### Impute Missing numerical data

In [144]:
inputs[num_cols].isna().sum()

Store                     0
Promo                     0
SchoolHoliday             0
CompetitionDistance    2186
CompetitionOpen           0
Promo2                    0
Promo2Open                0
IsPromo2Month             0
Day                       0
Month                     0
Year                      0
WeekOfYear                0
dtype: int64

In [145]:
test_inputs[num_cols].isna().sum()

Store                   0
Promo                   0
SchoolHoliday           0
CompetitionDistance    96
CompetitionOpen         0
Promo2                  0
Promo2Open              0
IsPromo2Month           0
Day                     0
Month                   0
Year                    0
WeekOfYear              0
dtype: int64

In [146]:
max_dist = inputs['CompetitionDistance'].max()

# Filling the missing values with the max of the 'CompetitionDistance' column
inputs['CompetitionDistance'].fillna(max_dist, inplace=True)
test_inputs['CompetitionDistance'].fillna(max_dist, inplace=True)

C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\2036008213.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs['CompetitionDistance'].fillna(max_dist, inplace=True)
C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\2036008213.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_inputs['CompetitionDistance'].fillna(max_dist, inplace=True)

### Scaling Numeric Values

In [147]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(inputs[num_cols])

MinMaxScaler()

In [148]:
inputs[num_cols] = scaler.transform(inputs[num_cols])
test_inputs[num_cols] = scaler.transform(test_inputs[num_cols])

C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\2231947006.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs[num_cols] = scaler.transform(inputs[num_cols])
C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\2231947006.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_inputs[num_cols] = scaler.transform(test_inputs[num_cols])

### Encoding Categorical Columns

In [158]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
encoder.fit(inputs[cat_cols])
encoded_cols = list(encoder.get_feature_names_out(cat_cols))

In [159]:
inputs[encoded_cols] = encoder.transform(inputs[cat_cols])
test_inputs[encoded_cols] = encoder.transform(test_inputs[cat_cols])

C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\2623792823.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs[encoded_cols] = encoder.transform(inputs[cat_cols])
C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\2623792823.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs[encoded_cols] = encoder.transform(inputs[cat_cols])
C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\2623792823.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs[encoded_cols] = encoder.transform(inputs[cat_cols])
C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\2623792823.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs[encoded_cols] = encoder.transform(inputs[cat_cols])
C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\2623792823.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs[encoded_cols] = encoder.transform(inputs[cat_cols])
C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\2623792823.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs[encoded_cols] = encoder.transform(inputs[cat_cols])
C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\2623792823.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs[encoded_cols] = encoder.transform(inputs[cat_cols])
C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\2623792823.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs[encoded_cols] = encoder.transform(inputs[cat_cols])
C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\2623792823.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_inputs[encoded_cols] = encoder.transform(test_inputs[cat_cols])
C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\2623792823.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_inputs[encoded_cols] = encoder.transform(test_inputs[cat_cols])
C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\2623792823.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_inputs[encoded_cols] = encoder.transform(test_inputs[cat_cols])
C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\2623792823.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_inputs[encoded_cols] = encoder.transform(test_inputs[cat_cols])
C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\2623792823.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_inputs[encoded_cols] = encoder.transform(test_inputs[cat_cols])
C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\2623792823.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_inputs[encoded_cols] = encoder.transform(test_inputs[cat_cols])
C:\Users\ROG\AppData\Local\Temp\ipykernel_22084\2623792823.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_inputs[encoded_cols] = encoder.transform(test_inputs[cat_cols])

In [160]:
X = inputs[num_cols + encoded_cols]
X_test = test_inputs[num_cols + encoded_cols]